<!-- recipes_list.html -->

{% extends 'base.html' %}

{% load static %}
{% block content %}
    <link href="{% static 'css/recipes_list_style.css' %}" rel="stylesheet"/>
    <div class="board_wrap">
        <div class="nav_bar">
            <ul class="nav">
                <li>
                    <a href="{% url 'index' %}">메인</a>
                </li>
                <li>
                    <a href="{% url 'detect_ingredients' %}">레시피</a>
                    <ul>
                        <li><a href="{% url 'detect_ingredients' %}">레시피 추천</a></li>
                        <li><a href="{% url 'recipe_list' %}">레시피 리스트</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'Information_Modification' %}">프로필</a>
                </li>
                <li>
                    <a href="{% url 'post_list' %}">게시판</a>
                </li>
            </ul>
        </div>
        <div class="board_title">
            <strong>레시피</strong>
            <p>이곳은 레시피 목록입니다.</p>
        </div>
        <div class="board_list_wrap">
            <div class="board_list">
                {% for recipe in recipe_list %}
                <div>
                    <div class="id">{{ recipe.id }}</div>
                    <div class="food_name">
                        <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.food_name }}</a></li>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="board_page">
                {% if recipe_list.has_previous %}
                    <a href="?page=1" class="bt first"><<</a>
                    <a href="?page={{ recipe_list.previous_page_number }}" class="bt prev"><</a>
                {% endif %}
                {% for num in recipe_list.paginator.page_range %}
                    {% if recipe_list.number == num %}
                        <a href="?page={{ num }}" class="num on">{{ num }}</a>
                    {% else %}
                        <a href="?page={{ num }}" class="num">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if recipe_list.has_next %}
                    <a href="?page={{ recipe_list.next_page_number }}" class="bt next">></a>
                    <a href="?page={{ recipe_list.paginator.num_pages }}" class="bt last">>></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}