<!-- recipes_list.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>레시피 목록</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>음식 이름</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipe_list %}
        <tr>
          <td>{{ recipe.id }}</td>
          <td><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.food_name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if recipe_list.has_previous %}
    <a href="?page=1">첫 페이지</a>
    <a href="?page={{ recipe_list.previous_page_number }}">이전 페이지</a>
  {% endif %}

  <span class="current">
    페이지 {{ recipe_list.number }} / {{ recipe_list.paginator.num_pages }}
  </span>

  {% if recipe_list.has_next %}
    <a href="?page={{ recipe_list.next_page_number }}">다음 페이지</a>
    <a href="?page={{ recipe_list.paginator.num_pages }}">마지막 페이지</a>
  {% endif %}
{% endblock %}