<!-- upload_image.html -->

{% extends 'base.html' %}

{% block content %}
    <img src="{{ uploaded_image_url }}" alt="Uploaded Image" width="300" height="200">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Upload</button>
    </form>
    <h1>Detected Ingredients</h1>
    <div>
        <ul>
            {% for ingredient in detected_classes %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if recommended_recipes %}
        <h2>추천 레시피</h2>
        <ul>
            {% for recipe in recommended_recipes %}
                <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.food_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}