<!-- upload_image.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Upload</button>
    </form>
    <h1>Detected Ingredients</h1>
    <div>
        <ul>
            {% for ingredient in detected_classes %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if recommended_recipes %}
        <h2>추천 레시피</h2>
        <ul>
            {% for recipe in recommended_recipes %}
                <li><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.food_name }}</a></li>
                {% if recipe.requirement %}
                    <p>부족한 재료: </p>
                    <ul>
                        {% for req in recipe.requirement %}
                            <li>{{ req }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>