@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

contents{
    font-size: 20px;
    font-weight: lighter;
}

contents3{
    font-size: 14px;
    font-weight: 100;
}

.cont{
    font-size: 17px;
    font-weight: bold;
}

.board_wrap{
    width: 1878px;
    margin: 55px auto;
}

.nav_bar{
    width: 100%;
    height: 400px;
    background-image: url('/static/assets/img/main.png');
}

.nav > li ul{
    display: none;
    position: absolute;
    padding: 0;
    font-size: 15px;
}

.nav > li:hover ul{
    display: block;
    position: absolute;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav a{
    color: black;
}

.nav a:hover{
    color: black;
}

.nav > li {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.nav > li:last-child {
    margin-right: 0; /* 마지막 아이템의 간격 제거 */
}

.amount{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.amount > li{
    flex: 1;
    height: 132px;
}

.amount > li > div{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    height: 57px;
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}

.main_text0,
.main_text0_user,
.main_text0_write,
.main_text0_favorite{
    width: 100%;
    height: 601px;
    margin-top: -132px;
}

.main_text0 > h1,
.main_text0_user > h1,
.main_text0_write > h1,
.main_text0_favorite > h1{
    padding-top: 116px;
    text-align: center;
}

.main_text0 > .contents1,
.main_text0_user > .contents1
.main_text0_write > .contents1
.main_text0_favorite > .contents1{
    text-align: center;
}

.ingredients{
    margin-top: 50px;
}

.ingredients strong{
    font-size: 30px;
}

.user-info{
    margin-top: 50px;
    width: 1280px;
    height: 302px;
    margin: auto;
    padding: 0;
}

.user-info h1{
    font-size: 30px;
}

.my_write{
    margin-top: 50px;
    width: 1280px;
    height: 302px;
    margin: auto;
    padding: 0;
}

.my_write h1{
    font-size: 30px;
}

.favorite{
    margin-top: 50px;
    width: 1280px;
    height: 302px;
    margin: auto;
    padding: 0;
}

.favorite h1{
    font-size: 30px;
}

.info{
    width: 100%;
    border-top: 2px solid #000;
    margin-top: 20px;
}

.info ul {
    margin-top: 20px; /* 리스트와 위 요소 간격 설정 */
    list-style-type: none;
    padding: 0;
}

.info ul li {
    margin-bottom: 20px; /* 리스트 아이템들 간격 설정 */
}

.bt_wrap2{
    margin-top: 30px;
    text-align: center;
    font-size: 0px;
}

.bt_wrap2 a{
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bt_wrap2 a:first-child{
    margin-left: 0;
}

.bt_wrap2 a.on{
    background: #000;
    color: #fff;
}

.bt_wrap2 a:hover{
    background-color: black;
    color: white;
}

.profile-picture{
    margin-top: 20px;
}

.img{
    margin-bottom: 10px;
    width: 300px; /* 이미지의 가로 크기 */
    height: 200px; /* 이미지의 세로 크기 */
    background-color: #f0f0f0; /* 비어있는 공간의 배경색 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.img img {
    width: 300px; /* 이미지의 가로 크기 */
    height: 200px; /* 이미지의 세로 크기 */
    object-fit: cover;
}

.detected_classes{
    width: 100%;
    border-top: 2px solid #000;
    margin-top: 20px;
}

.detected_classes ul {
    margin-top: 20px; /* 리스트와 위 요소 간격 설정 */
    list-style-type: none;
    padding: 0;
}

.detected_classes ul li {
    margin-bottom: 20px; /* 리스트 아이템들 간격 설정 */
}

.writes{
    width: 100%;
    border-top: 2px solid #000;
    margin-top: 20px;
}

.writes .list-group {
    margin-top: 20px; /* 리스트와 위 요소 간격 설정 */
    list-style-type: none;
    padding: 0;
}

.writes .list-group-item {
    border: none;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
}

.favorite-section{
    width: 100%;
    border-top: 2px solid #000;
    margin-top: 20px;
}

.favorite-section .list-group {
    margin-top: 20px; /* 리스트와 위 요소 간격 설정 */
    list-style-type: none;
    padding: 0;
}

.favorite-section .list-group-item {
    border: none;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 0;
}

.board_list{
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div{
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top{
    border-bottom: 1px solid #999;
}

.board_list > div:last-child{
    border-bottom: 1px solid #000;
}

.board_list > div > div{
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.board_list > div.top > div{
    font-weight: 600;
}

.board_list .num{
    width: 10%;
    vertical-align: middle;
}

.board_list .title{
    width: 60%;
    text-align: left;
    vertical-align: middle;
}

.board_list .top .title{
    text-align: center;
}

.board_list .writer{
    width: 10%;
    vertical-align: middle;
}

.board_list .date{
    width: 10%;
    vertical-align: middle;
}

.board_list .count{
    width: 10%;
    vertical-align: middle;
}

.board_page{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a{
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt{
    padding-top: 7.5px;
    font-size: 12px;
    letter-spacing: -1px;
}

.board_page a.num{
    padding-top: 6.5px;
    font-size: 14px;
}

.board_page a.num.on{
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}

button{
    padding: 3px 5px; /* 위아래 5px, 좌우 10px의 안쪽 여백 */
    border: 1px solid #000;
    border-radius: 2px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;
    font-size: 12px; /* 버튼의 글자 크기 */
    width: auto; /* 필요한 경우, 버튼의 너비를 자동으로 조정 */
    height: auto;
}

button:hover{
    background-color: black;
    color: white;
}

#profile-upload-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px; /* 위아래 5px, 좌우 10px의 안쪽 여백 */
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;
    font-size: 12px; /* 버튼의 글자 크기 */
    width: auto; /* 필요한 경우, 버튼의 너비를 자동으로 조정 */
    height: auto;

}

.profile-picture img{
    margin-bottom: 10px;
    width: 300px; /* 이미지의 가로 크기 */
    height: 200px; /* 이미지의 세로 크기 */
    background-color: #f0f0f0; /* 비어있는 공간의 배경색 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.profile-picture img img{
    width: 300px; /* 이미지의 가로 크기 */
    height: 200px; /* 이미지의 세로 크기 */
    object-fit: cover;
}