@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

contents{
    font-size: 20px;
    font-weight: lighter;
}

contents3{
    font-size: 14px;
    font-weight: 100;
}

.cont{
    font-size: 17px;
    font-weight: bold;
}

.board_wrap{
    width: 1878px;
    margin: 55px auto;
}

.nav_bar{
    width: 100%;
    height: 400px;
    background-image: url('/static/assets/img/main.png');
}

.nav > li ul{
    display: none;
    position: absolute;
    padding: 0;
    font-size: 15px;
}

.nav > li:hover ul{
    display: block;
    position: absolute;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav a{
    color: black;
}

.nav a:hover{
    color: black;
}

.nav > li {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.nav > li:last-child {
    margin-right: 0; /* 마지막 아이템의 간격 제거 */
}

.amount{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.amount > li{
    flex: 1;
    height: 132px;
}

.amount > li > div{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    height: 57px;
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}

.main_text0{
    width: 100%;
    height: 601px;
    margin-top: -132px;
}

.main_text0 > h1{
    padding-top: 116px;
    text-align: center;
}

.main_text0 > .contents1{
    text-align: center;
}

.board_list_wrap{
    width: 1280px;
    height: 800px;
    margin: 40px auto 40px auto;
    padding: 0;
}

.bt_wrap2{
    margin-top: 30px;
    text-align: center;
    font-size: 0px;
}

.bt_wrap2 a{
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.bt_wrap2 a:first-child{
    margin-left: 0;
}

.bt_wrap2 a.on{
    background: #000;
    color: #fff;
}

.bt_wrap2 a:hover{
    background-color: black;
    color: white;
}

.board_list{
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div{
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top{
    border-bottom: 1px solid #999;
}

.board_list > div:last-child{
    border-bottom: 1px solid #000;
}

.board_list > div > div{
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.board_list > div.top > div{
    font-weight: 600;
}

.board_list .id{
    width: 10%;
    vertical-align: middle;
}

.board_list .food_name{
    margin-left: 40px;
    width: 60%;
    text-align: left;
    vertical-align: middle;
    font-weight: 600;
}

.board_list .top .title{
    text-align: center;
}

.board_list .writer{
    width: 10%;
    vertical-align: middle;
}

.board_list .date{
    width: 10%;
    vertical-align: middle;
}

.board_list .count{
    width: 10%;
    vertical-align: middle;
}

.board_page{
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a{
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt{
    padding-top: 7.5px;
    font-size: 12px;
    letter-spacing: -1px;
}

.board_page a.num{
    padding-top: 6.5px;
    font-size: 14px;
}

.board_page a.num.on{
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}