@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

contents{
    font-size: 20px;
    font-weight: lighter;
}

contents3{
    font-size: 14px;
    font-weight: 100;
}

.cont{
    font-size: 17px;
    font-weight: bold;
}

.board_wrap{
    width: 1878px;
    margin: 55px auto;
}

.nav_bar{
    width: 100%;
    height: 400px;
    background-image: url('/static/assets/img/main.png');
}

.nav > li ul{
    display: none;
    position: absolute;
    padding: 0;
    font-size: 15px;
}

.nav > li:hover ul{
    display: block;
    position: absolute;
}

.nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav a{
    color: black;
}

.nav a:hover{
    color: black;
}

.nav > li {
    display: inline-block;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.nav > li:last-child {
    margin-right: 0; /* 마지막 아이템의 간격 제거 */
}

.amount{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.amount > li{
    flex: 1;
    height: 132px;
}

.amount > li > div{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    height: 57px;
}

.amount > li:not(:last-child) > div{
    border-right: 1px solid #E1E1E1;
}

.main_text0{
    width: 100%;
    height: 500px;
    margin-top: -132px;
    background: #f1f2f3;
}

.main_text0 > h1{
    padding-top: 116px;
    text-align: center;
}

.main_text0 > .contents1{
    text-align: center;
}

.main_text0 > .img{
    margin-top: 20px;
}

.main_text0 button{
    background: white;
}

.img{
    margin-bottom: 10px;
    width: 300px; /* 이미지의 가로 크기 */
    height: 200px; /* 이미지의 세로 크기 */
    background-color: #f0f0f0; /* 비어있는 공간의 배경색 */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.img img {
    width: 300px; /* 이미지의 가로 크기 */
    height: 200px; /* 이미지의 세로 크기 */
    object-fit: cover;
}

.main_text1{
    width: 100%;
    height: 659px;
}

.main_text1 > h1{
    padding-top: 50px;
    text-align: center;
}

.main_text1 > .contents1{
    text-align: center;
}

.service{
    width: 1280px;
    display: flex;
    margin: 49px auto;
    height: 427px;
}

.service h1{
    font-size: 32px;
    margin-bottom: 30px;
}

.service > div{
    flex: 1;
    text-align: center;
}

.service > .contents2{
    padding: 20px;
}

.service > .contents2 > h2{
    margin-bottom: 27px;
}

.contents2 h1 {
    width: 60%;
    border-bottom: 2px solid #000;
    margin: 10px auto;
    padding-bottom: 15px;
}

.detect{
    font-weight: bold;
    text-align: left;
    margin-left: 250px;
}

.recommend{
    font-weight: bold;
    text-align: left;
    margin-left: 230px;
}

.require-ingredient {
    margin-left: 10px; /* '부족한 재료' 제목의 왼쪽 마진 설정 */
    margin-bottom: 0;
}

.require-ingredients {
    margin-left: 30px; /* 재료 리스트 아이템의 왼쪽 마진 설정 */
}

button{
    padding: 3px 5px; /* 위아래 5px, 좌우 10px의 안쪽 여백 */
    border: 1px solid #000;
    border-radius: 2px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;
    font-size: 12px; /* 버튼의 글자 크기 */
    width: auto; /* 필요한 경우, 버튼의 너비를 자동으로 조정 */
    height: auto;
}

button:hover{
    background-color: black;
    color: white;
}

#upload-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px; /* 위아래 5px, 좌우 10px의 안쪽 여백 */
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;
    font-size: 12px; /* 버튼의 글자 크기 */
    width: auto; /* 필요한 경우, 버튼의 너비를 자동으로 조정 */
    height: auto;

}