{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/find_password_style.css' %}">
<div class="board_wrap">
    <h1 class="board_title">
        <h3 class="mb-0" style="text-align: center;">비밀번호 찾기</h3>
    </h1>
    <div class="board_view">
        {% if not password_found %}
        <form method="post" action="{% url 'find_password' %}">
            {% csrf_token %}
            <div class="p">
                <input type="text" class="form-control" id="username" name="username" required placeholder="아이디">
            </div>
            <div class="p">
                <input type="email" class="form-control" id="email" name="email" required placeholder="이메일">
            </div>
            <div class="p" style="text-align: center;">
                <button type="submit" class="btn">비밀번호 찾기</button>
            </div>
            <div class="p" style="text-align: right;">
            <a href="{% url 'login' %}">로그인</a>
            </div>
        </form>
        {% else %}
    </div>
    {% if password_changed %}
    <div class="alert alert-success mt-4" role="alert">
        비밀번호가 성공적으로 변경되었습니다. 로그인 되었습니다.
    </div>
    {% else %}
    <div class="alert alert-success mt-4" role="alert">
        사용자를 찾았습니다. 새로운 비밀번호를 입력하세요.
    </div>
    <form method="post" action="{% url 'find_password' %}">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}">
        <input type="hidden" name="email" value="{{ user.email }}">
        <div class="p">
            <input type="password" class="form-control" id="new_password" name="new_password" required placeholder="새 비밀번호">
        </div>
        <div class="p">
            <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm" required placeholder="새 비밀번호 확인">
        </div>
        <div class="p">
            <button type="submit" class="btn">비밀번호 변경</button>
        </div>
    </form>
    {% endif %}
    {% endif %}
</div>
<!--20231128 팜업메시지 코드 추가 -->
<!-- JavaScript 코드 추가 -->
<!--해당되는 메시지 일때만 팜업창으로 뜨도록-->
{% if password_mismatch %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        alert('입력한 비밀번호가 일치하지 않습니다!');
    });
</script>
{% endif %}

{% if user_not_found %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        alert('해당 이름 또는 이메일로 된 사용자가 없습니다!');
    });
</script>
{% endif %}

{% endblock content %}

