<!-- information_modification.html -->
{% extends 'base.html' %}
{% block content %}
<style>
    /* 스타일링 코드 */
</style>

<div class="container">
    <!-- 왼쪽 상단: 프로필 사진 -->
    <div class="profile-section">
        <div class="profile-picture">
            {% if user_profile.profile_picture %}
                <img id="profile-image" src="{{ user_profile.profile_picture.url }}" alt="프로필 사진">
            {% else %}
                <p>프로필 사진이 없습니다.</p>
            {% endif %}
            <!-- 프로필 사진 업로드 폼 -->
            <form method="post" enctype="multipart/form-data" id="profile-upload-form">
                {% csrf_token %}
                <input type="file" name="profile_picture" id="file-input">
                <input type="submit" value="사진 업로드">
            </form>
        </div>

        <!-- 오른쪽 상단: 회원 정보 -->
        <div class="user-info">
            <p>아이디: {{ user.username }}</p>
            <p>이메일: {{ user.email }}</p>
            <p>성: {{ user.last_name }}</p>
            <p>이름: {{ user.first_name }}</p>
        </div>
    </div>

    <!-- 프로필 사진 변경 버튼 아래: 작성한 글 목록 -->
    <div class="user-posts">
        <!-- 작성한 글 목록 출력 -->
    </div>
</div>

<script>
    document.getElementById('profile-upload-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const fileInput = document.getElementById('file-input');
        const formData = new FormData();
        formData.append('profile_picture', fileInput.files[0]);

        fetch('/upload_profile_picture/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // JSON 형식으로 응답을 받음
            }
            throw new Error('Network response was not ok.');
        })

        .then(data => {
            const imageUrl = data.profile_picture_url; // 서버로부터 받은 새 이미지 URL
            // 이미지 업데이트
            const profileImage = document.getElementById('profile-image');
            profileImage.src = imageUrl;
            // 프로필 이미지 업로드 성공 시 이미지 업데이트
        })

        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
            // 프로필 이미지 업로드 실패 시 에러 처리
        });
    });

</script>
{% endblock content %}
