{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
    <div class="board_wrap">
        <div class="board_title">
            <h3 class="mb-0">로그인</h3>
        </div>
        <div class="board_view">
            <form method="POST" novalidate>
                {% csrf_token %}
                <div class="p">
                    <!-- 아이디 입력 레이블과 필드 -->
                    <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label_tag }}</label>
                    {{ form.username }}
                </div>
                <div class="p">
                    <!-- 비밀번호 입력 레이블과 필드 -->
                    <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label_tag }}</label>
                    {{ form.password }}
                </div>
                <div class="p">
                    <button class="btn" type="submit">로그인</button>
                </div>
            </form>
        </div>
        <!-- 아이디 찾기 버튼 -->
        <div class="p">
            <div class="small"><a href="{% url 'search_id' %}">아이디 찾기</a></div>
        </div>
        <!-- 비밀번호 찾기 버튼 -->
        <div class="p">
            <div class="small"><a href="{% url 'find_password' %}">비밀번호 찾기</a></div>
        </div>
        <div class="p">
            <!-- 회원가입 페이지로 이동하는 링크 -->
            <p class="mb-0">아직 계정이 없으신가요? <a href="{% url 'register' %}">회원가입</a></p>
        </div>
    </div>
{% endblock content %}