{% extends 'base.html' %}
{% block content %}

{% load static %}
    <link rel="stylesheet" href="{% static 'css/Withdrawal_style.css' %}">
    <div class="board_wrap">
        <div class="nav_bar">
            <ul class="nav">
                <li>
                    <a href="{% url 'index' %}">메인</a>
                </li>
                <li>
                    <a href="{% url 'detect_ingredients' %}">레시피</a>
                    <ul>
                        <li><a href="{% url 'detect_ingredients' %}">레시피 추천</a></li>
                        <li><a href="{% url 'recipe_list' %}">레시피 리스트</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'Information_Modification' %}">프로필</a>
                </li>
                <li>
                    <a href="{% url 'post_list' %}">게시판</a>
                </li>
            </ul>
        </div>
        <div class="board_wrap_withdrawal">
            <div class="board_title">
                <h3 class="mb-0" style="text-align: center;">회원탈퇴</h3>
            </div>
            <div class="board_view">
                <table style="color:black; margin-left:10px;">
                    <tr>
                        <td class="profile_title">아이디</td>
                        <td class="profile_content">{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td class="profile_title">이메일</td>
                        <td class="profile_content">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td class="profile_title">성</td>
                        <td class="profile_content">{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td class="profile_title">이름</td>
                        <td class="profile_content">{{ user.first_name }}</td>
                    </tr>
                </table>
                <hr>
                <div style="text-align: center;">
                <!-- <div style="margin-left: 10px;"> -->
                    <p>정말로 회원 탈퇴하시겠습니까?</p>
                    <form id="withdrawalForm" method="post" action="{% url 'delete_account' %}">
                        {% csrf_token %}
                        <div>
                            <input type="text" name="confirmation" id="confirmation" placeholder="회원탈퇴" required>
                        </div>
                        <div>
                            <button class="btn" type="button" name="withdrawal_Button" name="withdrawal_Button" value="회원탈퇴" onclick="confirmWithdrawal()">회원 탈퇴</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function confirmWithdrawal() {
            // '회원 탈퇴하시겠습니까?' 메시지와 확인/취소 버튼을 갖는 팝업창 생성
            var response = confirm("정말로 회원 탈퇴하시겠습니까?");

            // 사용자가 확인을 선택한 경우
            if (response == true) {
                // 회원 탈퇴 폼에 탈퇴 요청 보내기
                document.getElementById("withdrawalForm").submit();
            } else {
                // 취소한 경우 아무 작업도 수행하지 않음
                return false;
            }
        }
    </script>
{% endblock content %}