{% extends 'base.html' %}
{% block content %}
<style>
    .container {
        width: 50%;
        margin: auto;
    }
.profile_title {
        padding-right: 20px;
    }
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'css/Withdrawal_style.css' %}">
    <div class="board_wrap">
        <div class="board_title">
            <h3 class="mb-0" style="text-align: center;">회원탈퇴</h3>
        </div>
        <div class="board_view">
            <table style="color:black; margin-left:10px;">
                <tr>
                    <td class="profile_title">아이디</td>
                    <td class="profile_content">{{ user.username }}</td>
                </tr>
                <tr>
                    <td class="profile_title">이메일</td>
                    <td class="profile_content">{{ user.email }}</td>
                </tr>
                <tr>
                    <td class="profile_title">성</td>
                    <td class="profile_content">{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td class="profile_title">이름</td>
                    <td class="profile_content">{{ user.first_name }}</td>
                </tr>

            </table>

            <hr>
            <div style="text-align: center;">
            <!-- <div style="margin-left: 10px;"> -->
                <p>정말로 회원 탈퇴하시겠습니까?</p>
                    <form method="post" action="{% url 'delete_account' %}">
                        {% csrf_token %}
                        <div>
                            <input type="text" name="confirmation" id="confirmation" placeholder="회원탈퇴" required>
                        </div>
                        <div>
                            <button class="btn" type="submit" id="withdrawal_Button" name="withdrawal_Button" value="회원탈퇴">회원 탈퇴</button>
                        </div>

                    </form>
            </div>
        </div>
    </div>
{% endblock content %}