{% extends 'base.html' %}

{% load static %}
{% block content %}
    <link href="{% static 'css/post_list_style.css' %}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <div class="board_wrap">
        <div class="nav_bar">
            <ul class="nav">
                <li>
                    <a href="{% url 'index' %}">메인</a>
                </li>
                <li>
                    <a href="{% url 'detect_ingredients' %}">레시피</a>
                    <ul>
                        <li><a href="{% url 'detect_ingredients' %}">레시피 추천</a></li>
                        <li><a href="{% url 'recipe_list' %}">레시피 리스트</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'Information_Modification' %}">프로필</a>
                </li>
                <li>
                    <a href="{% url 'post_list' %}">게시판</a>
                </li>
            </ul>
        </div>
        <div class="amount">
            <li>
                <div>
                    <div>맛있게</div>
                </div>
            </li>
            <li>
                <div>
                    <div>쉽게</div>
                </div>
            </li>
            <li>
                <div>
                    <div>즐겁게</div>
                </div>
            </li>
            <li>
                <div>
                    <div>행복하게</div>
                </div>
            </li>
        </div>
        <div class="main_text0">
            <h1>게시판</h1>
            <div class="contents1">다같이 소통해요.</div>
            <div class="board_list_wrap">
                <div class="board_list">
                    <div class="top">
                        <div class="num">번호</div>
                        <div class="title">제목</div>
                        <div class="writer">글쓴이</div>
                        <div class="date">작성일</div>
                        <div class="count">조회</div>
                    </div>
                    {% for post in page_obj %}
                    <div>
                        <div class="num">{{ post.id }}</div>
                        <div class="title">
                            <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
                        </div>
                        <div class="writer">{{ post.author.username }}</div>
                        <div class="date">
                            {{ post.created_at|date:"Y.m.d H:i:s" }}
                        </div>
                        <div class="count">{{ post.views }}</div>
                    </div>
                    {% endfor %}
                </div>
                <div class="board_page">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="bt first"><<</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="bt prev"><</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a href="?page={{ num }}" class="num on">{{ num }}</a>
                        {% else %}
                            <a href="?page={{ num }}" class="num">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="bt next">></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="bt last">>></a>
                    {% endif %}
                </div>
                {% if not user.is_authenticated %}
                    <div class="bt_wrap2">
                        <a href="#" id="post-create">글 쓰기</a>
                    </div>
                {% else %}
                    <div class="bt_wrap2">
                        <a href="{% url 'post_create' %}">글 쓰기</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        // 로그인 필요 팝업 표시 함수
        function displayLoginPopup() {
            alert('로그인이 필요합니다.');
            // 또는 모달 창, 다른 커스텀 팝업 등으로 변경 가능
            // 팝업 창에 로그인 링크를 제공하여 사용자가 로그인 페이지로 이동할 수 있도록 할 수 있습니다.
        }

        // 이벤트 리스너를 사용하여 클릭 시 로그인 팝업 표시 및 기본 이벤트 동작 막기
        document.addEventListener('DOMContentLoaded', function() {
            var newPostLink = document.getElementById("post-create");

            newPostLink.addEventListener('click', function(event) {
                event.preventDefault();
                displayLoginPopup();
            });
        });
    </script>
{% endblock %}