<!-- your_app/templates/your_app/post_list.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>게시판</h1>
    <ul>
        {% for post in posts %}
            <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
        {% empty %}
            <li>No posts yet.</li>
        {% endfor %}
    </ul>
    {% if not user.is_authenticated %}
        <a href="#" id="post-create">새 글 쓰기</a>
    {% else %}
        <a href="{% url 'post_create' %}">새 글 쓰기</a>
    {% endif %}

    <script>
        // 로그인 필요 팝업 표시 함수
        function displayLoginPopup() {
            alert('로그인이 필요합니다.');
            // 또는 모달 창, 다른 커스텀 팝업 등으로 변경 가능
            // 팝업 창에 로그인 링크를 제공하여 사용자가 로그인 페이지로 이동할 수 있도록 할 수 있습니다.
        }

        // 이벤트 리스너를 사용하여 클릭 시 로그인 팝업 표시 및 기본 이벤트 동작 막기
        document.addEventListener('DOMContentLoaded', function() {
            var newPostLink = document.getElementById("post-create");

            newPostLink.addEventListener('click', function(event) {
                event.preventDefault();
                displayLoginPopup();
            });
        });
    </script>
{% endblock %}